.social-list {
    list-style: none;
    padding-top: $nav-padding;
    text-align: right;

    @include respond(tab-port) {
        padding-top: 0;
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 3rem;
        }

        a {
            i {
                color: $color-white;
                font-size: 2.5rem;
            }
        }

    }


}