*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

body {
    font-size: 62.5%;
    font-family: "Roboto Mono", monospace;
    background-repeat: repeat;
}

.header {
    max-width: 120rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 1006px) {
    .header {
        width: 100%;
    }
}


.heading {
    font-size: 2rem;
    color: #fff;
    background-color: black;
    display: inline-block;
    padding: 1rem 1.5rem;
    line-height: 1;
}

.toggle {
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .heading {
        text-align: center;
    }
} 


@media screen and (max-width: 1006px) {
    .heading {
        display: block;
        width: 100%;
    }

    .controls {
        width: 100%;
    }
}


@media screen and (max-width: 600px) {
    .controls {
        flex-direction: column;
    }
    .control-group {
        margin-right: 0px!important;
    }
    .toggle {
        display: inline;
    }
} 

.controls {
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 1.5rem;
    position: relative;
}

.controls--hide {
    display: none;
}

.controls > *:not(:last-child) {
    margin-right: 1.5rem;
}

.control-group {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 600px) {
    .control-group {
        margin-bottom: 10px;
    }
} 

.control-group__bg {
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 50%;
    background-image: url('/projects/bg-generator/img/jigsaw-bg.png');
    background-size: cover;
    cursor: pointer;
}


.bg-selector {
    position: absolute;
    top: 100%;
    width: 100%;
    padding: 1rem 1.5rem;
    border: 4px solid black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    display: none;
    background-color: white;
}

.bg-selector--show {
    display: flex;
}

.bg {
    height: 60px;
    width: 60px;
    border: 4px solid black;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    margin-top: 5px;
    cursor: pointer;
}

.bg:not(:last-child) {
    margin-right: 5px;
}

.bg--jigsaw {
    background-image: url('img/jigsaw-bg.png');
}

.bg--topography {
    background-image: url('img/topography-bg.png');
}

.bg--piano-man {
    background-image: url('img/piano-man-bg.png');
}


.bg--overcast {
    background-image: url('img/overcast-bg.png');
}


.bg--yyy {
    background-image: url('img/yyy-bg.png');
}

.bg--eyes {
    background-image: url('img/eyes-bg.png');
}



.bg--cutout {
    background-image: url('img/cutout-bg.png');
}



-webkit-color-swatch {
    border-radius: 100%;
}