body {
    font-family: $font-primary;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-secondary;
}

// Reset all <a> links
a {
    text-decoration: none;
    color: inherit;
}

.alink {
    color: $color-highlight-two;
    border-bottom: 1px solid #ddd;

    &:hover {
        border-bottom: 1px solid $color-highlight-one;
    }

    &:active {
        color: #fff;
        background-color: $color-highlight-one;
    }
    
}

// Headings

.heading {

    line-height: 1.4;

    &--secondary {
        font-size: 3.2rem;
        display: inline-block;
        background: $gradient-linear;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        margin-bottom: 3rem;
        
        &-blog {
            font-size: 3rem;
            margin-bottom: 1.5rem;
    }
}

}

// Paragraph

.paragraph {
    font-size: 1.6rem;
    color: $color-neutral;

    &--limited {
        max-width: $limited;
    }

    &:not(:last-child) {
        margin-bottom: 2.5rem;
    }
}

// Code

pre {
    padding: 1rem;
    border-radius: 0.25rem;
    overflow-x: scroll;
    font-size: 1.7rem;
    margin-bottom: 2rem;
}

.code-inline {
    font-family: "Source Code Pro", monospace;
    text-decoration: none;
    border-bottom: 1px solid #b58900;
    background-color: #fdf6e3;
    padding: 0.0625em 0.25em;
    font-size: 0.875em;
    border-radius: 0.25rem;
}

.code-highlight {
    background-color: #002b36;
    color: #93a1a1;
}

.terminal {
    .us {
        color: #268bd2;
    }
}