.single-post-meta {
    color: $color-white;

    &__tags {
        margin-top: 2.5rem;

        &__tag {
            padding: 7px 9px;
            background-color: red;
            box-sizing: border-box;
            border-radius: 8px;
            text-transform: lowercase;
            font-weight: 700;

            i {
                font-weight: 700;
                font-size: 20px;
                margin-right: 5px;
            }

            &--guide {
                background-color: $color-highlight-three;

            }

            &--tips {
                background-color: $color-highlight-four;
            }

        }

    }

}